/* contact section */
.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .contact-icon {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--margin-bottom-0-75);
  }
  
  .contact-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
  }
  
  .contact-subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
  }
  
  /* Responsive adjustments */
  @media screen and (max-width: 768px) {
    .contact-container {
      grid-template-columns: 1fr;
    }
  }
  