/* skills  */
.skills-content {
    display: inline-block;
  }
  
  .skills-name {
    padding: 0.8rem 1.25rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-size: var(--small-font-size);
    background: var(--first-color-lighter);
    border-radius: 5px;
    font-weight: 600;
    color: var(--title-color);
    transition: 0.3s ease;
  }
  
  .skills-name:hover {
    background-color: var(--first-color-alt);
  }
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }